html,
body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: $regular;
  font-family: $font-family-regular;
  line-height: $base-line-height;
  height: 100dvh;
  overflow-x: hidden;
  user-select: none;

  @include is-mobile {
    min-height: 100%;
  }
}

#app {
  height: 100%;
}

#__nuxt, #__layout {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  touch-action: manipulation;

  &:active {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  &:focus {
    outline: none !important;
  }
}

input,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  @include placeholder {
    color: $color-inputs;
    opacity: 1;
  }
}

input[type='text'] {
  &:focus {
    @include placeholder {
      opacity: 0;
    }
  }
}

button {
  cursor: pointer;
  user-select: none;
}

menu {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: $regular;
  line-height: 1;
}

.mobile-hide {
  @include is-mobile {
    display: none !important;
  }
}

.desktop-hide {
  @include is-desktop {
    display: none !important;
  }
}
